.header {
    color:green;
}

/*
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

    .header {

        color:#0000FF;
        background-color:#CCCCCC;

    }
}} */

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .header {

        color:#0000FF;
        background-color:#CCCCCC;

    }
}}
